.form {
  max-width: 477px;
  min-width: 360px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* border: solid; */
  justify-content: center;
  align-items: center;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  /* border: solid; */
}

.form--input{
  text-decoration: none;

  border: #D5D4D8 1px solid;
  /* border-color: red; */
  border-radius: 5px;
  /* max-width: 230px; */
  /* width: 230px; */
  width: 100%;
  height: 35px;
  /* left: 36px;
  top: 101px; */
  text-indent: 5px;
}
.meme-h2{
  color: white;
  border-radius: 5px;
  height: 40px;
padding: 5px;
width: 430px;
min-width: 360px;

  background-image: linear-gradient(90deg, #A626D3 10%, #672280 90%);

}
button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: large;
  width: 477px;
  background-image: linear-gradient(90deg, #A626D3 10%, #672280 90%);
  height: 40px;

}
.img-meme{
  height: 400px;
  border: solid;
  align-self: center;
}