/* utils */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.meme {
  position: relative;
}

.meme--image {
  margin: 20px;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media (max-width:490px) {
  .input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* max-width: 100%; */
    /* border: solid; */
    gap: 1em;
    margin-top: 10px;
    width: 90%;
  }

  .button {
    border: solid;
    width: 320px;
  }

  .form--input {
    width: 100%;
    border: solid brown;
  }
  .meme-h2{
    width: 360px;
    font-size: 18px;
    padding: 0px;
  }
}

@media (min-width:491px) {
  .form--input {

    width: 230px;
  }
}